[[# hasNoResults ]]
  No result found
[[/ hasNoResults ]]

[[# hasOneResult ]]
  <span class="ais-stats--nb-results">
    1 result found
  </span>
[[/ hasOneResult ]]

[[# hasManyResults ]]
  [[ start ]]-[[ end ]] out of
  <span class="ais-stats--nb-results">
    [[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]
    results found
  </span>
[[/ hasManyResults ]]

in [[ processingTimeS ]]s
