<div class="ais-hit-empty">
  <div class="ais-hit-empty--title">No result found</div>
  <div class="ais-hit-empty--clears">Try
    <a class="ais-hit-empty--clear-filters ais-link">clearing filters</a>
    or
    <a class="ais-hit-empty--clear-input ais-link">changing your input</a>
  </div>
</div>
